<div class="sidebar">
  <input type="text" placeholder="Search for a user by username..." class="search-bar">
  <div *ngFor="let chat of chats" class="user">
    <img ngSrc="/avatar.svg" alt="Chatsidebar's Avatar" class="avatar" height="800" width="800">
    <div class="user-info">
      <p class="user-firstname">{{ chat.title }}</p>
      <p class="last-message">
        {{ chat.lastMessageFrom }}: {{ chat.lastMessageContent }}
      </p>
      <p class="message-time">{{ chat.lastMessageSentAt | date:'shortTime' }}</p>
      <span *ngIf="chat.unreadMessagesCount > 0" class="unread-count">
        {{ chat.unreadMessagesCount }}
      </span>
    </div>
  </div>
</div>
