.sidebar {
    width: 250px;
    background-color: #222;
    color: #fff;
    padding: 10px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.search-bar {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.user {
    display: flex;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
    border-bottom: 2px solid gray;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-firstname, .user-lastname {
    font-weight: bold;
}

/*.last-message {*/
/*    font-size: 12px;*/
/*    color: #888;*/
/*}*/
