<div class="form" >
  <form method="post">
    <h1>Sign Up</h1>
    <div class="input-box">
      <input type="text" placeholder="First Name" required />
      <i class='bx bxs-user'></i>
    </div>
    <div class="input-box">
      <input type="text" placeholder="Last Name" required />
      <i class='bx bxs-user'></i>
    </div>
    <div class="input-box">
      <input type="email" placeholder="Email" required />
      <i class='bx bxs-envelope'></i>
    </div>
    <div class="input-box">
      <input type="password" placeholder="Password" required />
      <i class='bx bxs-lock-alt'></i>
    </div>
    <div class="input-box">
      <input type="password" placeholder="Confirm Password" required />
      <i class='bx bxs-lock-alt'></i>
    </div>
    <button type="submit" class="btn">Sign Up</button>
    <div class="signup-link">
      <p>Already have an account? <a href="account/signin">Sign In</a></p>
    </div>
  </form>
</div>
