networks:
  messagingplatform:
    driver: bridge

services:
  web:
    container_name: messagingplatform-web
    build:
      context: ./web
      dockerfile: Dockerfile
    ports:
      - 4200:80
    depends_on:
      backend:
        condition: service_healthy
    networks:
      - messagingplatform

  backend:
    container_name: messagingplatform-backend
    build:
      context: ./backend/src
      dockerfile: Dockerfile
    ports:
      - 9000:9000
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: "http://0.0.0.0:9000"
      ConnectionStrings__DefaultConnection: "Host=messagingplatform-postgres;Database=MessagingPlatformDb;Username=postgres;Password=mysecretpassword"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -f http://messagingplatform-backend:9000/health || exit 1",
        ]
      interval: 10s
      timeout: 5s
      retries: 3
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - messagingplatform

  postgres:
    container_name: messagingplatform-postgres
    image: postgres:15-alpine
    ports:
      - 5433:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - messagingplatform

volumes:
  postgres-data:
