<div class="form">
  <form method="post" (ngSubmit)="signIn(signInUser)">
    <h1>Sign In</h1>

    <div class="input-box">
      <input
        [(ngModel)]="signInUser.username"
        name="username"
      type="text"
      placeholder="Username"
      #username="ngModel"
      required
      />
      <div *ngIf="username.invalid && username.touched" class="error-message">
        Username is required
      </div>
      <i class='bx bxs-user'></i>
    </div>

    <div class="input-box">
      <input
        [(ngModel)]="signInUser.password"
        name="password"
      type="password"
      placeholder="Password"
      #password="ngModel"
      minlength="6"
      required
      />
      <div *ngIf="password.invalid && password.touched" class="error-message">
        Password must be at least 6 characters long
      </div>
      <i class='bx bxs-lock-alt'></i>
    </div>

    <div class="remember-forgot">
      <label>
        <input type="checkbox" />
        Remember Me
      </label>
      <a href="#">Forgot Password</a>
    </div>

    <button type="submit" class="btn">Sign In</button>

    <div class="signup-link">
      <p>Don't have an account? <a href="account/signup">Sign Up</a></p>
    </div>
  </form>
</div>
