<div class="form">
  <form method="post" (ngSubmit)="signUp(signUpUser)">
    <h1>Sign Up</h1>

    <div class="input-box">
      <input
        [(ngModel)]="signUpUser.firstName"
        name="firstName"
      type="text"
      placeholder="First Name"
      #firstName="ngModel"
      required
      />
      <div *ngIf="firstName.invalid && firstName.touched" class="error-message">
        First Name is required
      </div>
      <i class='bx bxs-user'></i>
    </div>

    <div class="input-box">
      <input
        [(ngModel)]="signUpUser.lastName"
        name="lastName"
      type="text"
      placeholder="Last Name"
      #lastName="ngModel"
      required
      />
      <div *ngIf="lastName.invalid && lastName.touched" class="error-message">
        Last Name is required
      </div>
      <i class='bx bxs-user'></i>
    </div>

    <div class="input-box">
      <input
        [(ngModel)]="signUpUser.username"
        name="username"
        type="text"
        placeholder="Username"
        #username="ngModel"
        required
      />
      <div *ngIf="username.invalid && username.touched" class="error-message">
        Username is required
      </div>
      <i class='bx bxs-user'></i>
    </div>

    <div class="input-box">
      <input
        [(ngModel)]="signUpUser.email"
        name="email"
      type="email"
      placeholder="Email"
      #email="ngModel"
      required
      />
      <div *ngIf="email.invalid && email.touched" class="error-message">
        A valid email is required
      </div>
      <i class='bx bxs-envelope'></i>
    </div>

    <div class="input-box">
      <input
        [(ngModel)]="signUpUser.password"
        name="password"
      type="password"
      placeholder="Password"
      #password="ngModel"
      minlength="6"
      required
      />
      <div *ngIf="password.invalid && password.touched" class="error-message">
        Password must be at least 6 characters long
      </div>
      <i class='bx bxs-lock-alt'></i>
    </div>

    <div class="input-box">
      <input
        [(ngModel)]="signUpUser.confirmPassword"
        name="confirmPassword"
      type="password"
      placeholder="Confirm Password"
      #confirmPassword="ngModel"
      required
      />
      <div *ngIf="confirmPassword.invalid && confirmPassword.touched" class="error-message">
        Confirm Password is required
      </div>
      <i class='bx bxs-lock-alt'></i>
    </div>

    <button type="submit" class="btn">Sign Up</button>

    <div class="signup-link">
      <p>Already have an account? <a routerLink="/account/signin">Sign In</a></p>
    </div>
  </form>
</div>
