body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form
{
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px); /* for safari */
  backdrop-filter: blur(10px);
  color: white;
  border-radius: 12px;
  padding: 30px 40px;
}

.form h1 {
  font-size: 36px;
  text-align: center;
}

.form .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  /*border: none;*/
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: white;
  padding: 20px 45px 20px 20px;
}

.input-box::placeholder {
  color: white;
}


.input-box i {
  position: absolute;
  right: 20px;
  top: 30%;
  transform: translate(-50%);
  font-size: 20px;
}

.form .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: white;
  margin-right: 3px;
}

.remember-forgot a {
  color: white;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.form .btn {
  width: 100%; height: 45px;
  background: white;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.form .signup-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.form .signup-link p a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.form .signup-link p a:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
}
