<div class="chat-container">
  <div *ngIf="chat.id !== undefined" class="chat-header">
    <h2>{{ chat?.title }}</h2>
    <button (click)="deleteChat(chat.id)" class="delete-chat">Delete chat</button>
  </div>

  <div class="messages-container">
    <div *ngIf="chat.id === undefined" class="select-chat">Select a chat</div>
    <div *ngIf="chat.id !== undefined && messages.length === 0" class="no-messages">No messages</div>

    <div *ngFor="let message of messages" class="message">
      <div class="message-header">
        <strong>{{ message.sender.firstName }} {{ message.sender.lastName }}</strong>
        <span class="message-time">{{ message.sentAt | date: 'shortTime' }}</span>
      </div>
      <div class="message-body">
        <p>{{ message.content }}
          <button (click)="deleteMessage(message.sender.id, message.id)" class="delete-message">x</button>
        </p>
      </div>
    </div>
  </div>


  <div *ngIf="chat.id !== undefined" class="message-input">
    <textarea [(ngModel)]="newMessage" placeholder="Type a message..."></textarea>
    <button (click)="sendMessage()">Send</button>
  </div>
</div>
