.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 80vw;
  /*border-left: 3px solid black; !* ToDo: fix *!*/
  background-color: black;
}

.chat-header {
  text-align: center;
  position: sticky;
  top: 0;
  padding: 10px;
  background-color: #444;
  color: #fff;
  z-index: 10;
  height: 50px;
}

.messages-container {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #333;
  scrollbar-width: thin;
}

.select-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #212121;
  font-size: 64px;
  font-weight: 600;
}

.no-messages {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.message {
  margin-bottom: 10px;
}

.message-header {
  font-size: 0.9em;
  margin-bottom: 5px;
}

.message-time {
  float: right;
  color: #999;
  padding: 15px;
}

.message-body {
  background-color: #222;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.delete-message {
  width: 20px;
  height: 20px;
  float: right;
  background-color: #333;
  color: red;
  cursor: pointer;
}

.message-input {
  padding: 10px;
  background-color: #444;
  display: flex;
  align-items: center;
  position: sticky;
  bottom: 0;
  z-index: 500;
}

.message-input textarea {
  flex: 1;
  min-height: 50px;
  max-height: 200px;
  margin-right: 10px;
  width: calc(100% - 100px);
  background-color: transparent;
  border: none;
  color: white;
  white-space: pre-wrap;
  overflow-y: auto;
  scrollbar-width: none;
  resize: none;
  font-size: 16px;
}

.message-input button {
  padding: 10px 20px;
  background-color: #313131;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.message-input button:hover {
  background-color: #131313;
}
