<!-- create-chat.component.html -->
<div class="sidebar">
  <div class="top">
    <input type="text" placeholder="Search for a user by username..." class="search-bar">
    <img (click)="onNewChat()" ngSrc="/new-message.png" alt="new chat" class="new-chat" height="32" width="32">
  </div>
  <div *ngFor="let chat of chats" (click)="onSelectChat(chat.chatId)" class="user">
    <img ngSrc="/avatar.svg" alt="Chatsidebar's Avatar" class="avatar" height="800" width="800">
    <div class="user-info">
      <p class="user-firstname">{{ chat.title }}</p>
      <p class="last-message" *ngIf="chat.lastMessageFrom">
        {{ chat.lastMessageFrom }}: {{ chat.lastMessageContent }}
      </p>
      <p class="message-time">{{ chat.lastMessageSentAt | date:'shortTime' }}</p>
      <span *ngIf="chat.unreadMessagesCount > 0" class="unread-count">
        {{ chat.unreadMessagesCount }}
      </span>
    </div>
    <!-- ToDo: user can edit and delete the chat -->
    <div (click)="toggleMenu(chat.chatId, $event)">
      <img ngSrc="/more.svg" height="20" width="20" class="more-info-chat"  alt="more-info">

      <div class="menu" *ngIf="activeChatId === chat.chatId">
        <ul>
          <li (click)="onEdit(chat.chatId)">Edit</li>
          <li (click)="onLeave(chat.chatId)">Leave</li>
          <li (click)="onViewInfo(chat.chatId)">Info</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="profile">
    <img ngSrc="/avatar.svg" alt="Profile Avatar" class="avatar" height="800" width="800">
    <div class="user-info">
      <p class="user-fullname">{{ user?.firstName }} {{ user?.lastName }}</p>
      <p class="user-bio">{{ user?.bio }}</p>
    </div>
    <div (click)="onSettings()" class="settings">
      <img ngSrc="/settings.svg" alt="settings" height="24" width="24">
    </div>
  </div>

</div>

<!-- Modal window -->
<div *ngIf="isCreatingChat" class="modal">
  <div class="modal-content">
    <h2>Create New Chat</h2>
    <label for="chat-title">Chat Title:</label>
    <input type="text" [(ngModel)]="newChat.title" id="chat-title" placeholder="Enter chat title">

    <label for="users">Usernames (comma separated):</label>
    <input type="text" [(ngModel)]="newChat.usernames" id="users" placeholder="Enter usernames">

    <label for="chat-type">Chat Type:</label>
    <select [(ngModel)]="newChat.chatType" id="chat-type">
      <option value="0">Private</option>
      <option value="1">Group</option>
    </select>

    <div class="modal-buttons">
      <button (click)="createNewChat()">Create</button>
      <button (click)="closeModal()">Cancel</button>
    </div>
  </div>
</div>
